.sidebarRow {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  margin-right: 50px;
}
.sidebarRow > .MuiSvgIcon-root {
  font-size: xx-large;
  color: #2e81f4;
}
.sidebarRow:hover {
  background-color: lightgray;
  border-radius: 10px;
}
.sidebarRow > p {
  font-weight: 500;
}
